{% extends base %}
{% block title %}About{% endblock %}
{% block content %}
<p>I guess if you're here, you're looking for a little more information...</p>
<p>As you may have guessed from the banner at the top of the page, my name is Bryan Wyatt. If you didn't guess that, then suprise!</p>
<p>Beyond that, I'm a tech enthusiast, with a passion for Linux, automation, coding, and just generally playing around with tech. I've put in a lot of effort into my Puppet infrastructure at home, including a couple modules I've uploaded to the <a href="https://forge.puppet.com/brwyatt">Puppet Forge</a>, and have more recently been playing around with serverless development (including this site) with technologies like Lambda and CloudFormation, and have a few projects up on <a href="https://github.com/brwyatt">GitHub</a>, with varying degrees of activity.</p>
{% endblock %}
{# vim: set ts=2 sw=2 sts=2 expandtab: -#}
