div {
	border: 2px solid;
	padding: 4px;
	margin: 1px;
}

div#viewpane {
	margin: auto;
	width: 1000px;
}

div#siteheader h1 {
  text-align: center;
}

div#footer {
  text-align: center;
	font-weight: lighter;
	font-size: smaller;
}

/* vim: set ts=2 sw=2 sts=2: */
