:root {
  --palette-background: rgba(17,17,17,1);
  --palette-blue: rgba(2,99,189,1);
  --gradient-start: rgba(255,255,255,1) 0%;
  --gradient-stop1: rgba(0,181,255,1) 3%;
  --gradient-stop2: rgba(1,140,221,1) 5%;
  --gradient-stop3: var(--palette-blue) 20%;
  --gradient-stop4: rgba(3,50,151,1) 60%;
  --gradient-end: var(--palette-background) 99%;
  --gradient-values: var(--gradient-start), var(--gradient-stop1), var(--gradient-stop2), var(--gradient-stop3), var(--gradient-stop4), var(--gradient-end);
  /* https://cssgradient.io/ */
  --blue-radial-gradient-top-left: radial-gradient(circle farthest-corner at 0% 0%, var(--gradient-values));
  --blue-radial-gradient-top-center: radial-gradient(circle farthest-corner at 50% 0%, var(--gradient-values));
  --blue-radial-gradient-center-left: radial-gradient(circle farthest-corner at 0% 50%, var(--gradient-values));
}

body {
  background-color: var(--palette-background);
  font-family: Arial, Helvetica, sans-serif;
}

div {
  padding: 1px;
  margin: 1px;
}

div#viewpane {
  margin: auto;
  max-width: 1000px;
  width: 100%;
}

div#sitecontent {
  background-color: white;
  margin-top: 0px;
}

div#siteheader {
  background-image: var(--blue-radial-gradient-top-left);
  padding: 10px;
  margin-bottom: 0px;
}

div#siteheader h1 {
  color: white;
  text-align: left;
  text-shadow:  2px 2px 2px var(--palette-background);
  font-weight: bold;
}

div#footer {
  text-align: center;
  font-weight: lighter;
  font-size: smaller;
  color: grey;
  padding: 4px
}

/* vim: set ts=2 sw=2 sts=2 expandtab: */
