:root {
  --nav-hover: var(--grey-radial-gradient-top-center);
  --nav-current: var(--blue-radial-gradient-top-center);
}

div#navbar {
  display: inline-block;
  margin: 0px;
  margin-left: 1px;
  padding: 0px;
  width: 100%;
}

div#navbar ul#nav {
  display: inline-block;
  float: left;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

div#navbar ul#nav li {
  display: inline-block;
  float: left;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

div#navbar ul#nav a {
  display: inline-block;
  color: var(--palette-grey);
  text-decoration: none;
  font-weight: bold;
  text-shadow:  2px 2px 2px var(--palette-background);
  padding: 20px 40px 4px 10px;
  border-left: 1px solid var(--palette-grey);
}

div#navbar ul#nav a:link,
div#navbar ul#nav a:visited,
div#navbar ul#nav a:focus {
}

div#navbar ul#nav li:first-child a {
  border-left: 0px;
}

div#navbar ul#nav a:hover,
div#navbar ul#nav li.sel a:hover {
  background: var(--nav-hover);
  color: white;
}

div#navbar ul#nav a:active,
div#navbar ul#nav li.sel a {
  background: var(--nav-current);
  color: white;
}

/* vim: set ts=2 sw=2 sts=2 expandtab: */
