<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-33472085-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ga_code}}');
    </script>

    <title>Bryan Wyatt - {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="/css/global.css"/>
    {% if (event['stageVariables']['Stage'] in ['Beta', 'Alpha'] or 
           event['queryStringParameters']['style_debug']) -%}
      <link rel="stylesheet" href="/css/debug.css"/>
    {%- endif %}

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({
              google_ad_client: "ca-pub-2946026056360727",
              enable_page_level_ads: true
         });
    </script>
  </head>
  <body>
    <div id='viewpane'>
      <div id='siteheader'>
        <h1>Bryan Wyatt</h1>
      </div>
      <div id='sitecontent'>
        <div id='pagetitle'>
          <h2>{{ self.title() }}</h2>
        </div>
        <div id='pagecontent'>
          {% block content %}
            Undefined
          {% endblock %}
        </div>
      </div>
      <div id='footer'>
        &copy; {{ now().year }} Bryan Wyatt
      </div>
    </div>
  </body>
</html>
{# vim: set ts=2 sw=2 sts=2 expandtab: -#}
