<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    {% include "GooglePublisherTag.html" %}
    {% include "GoogleAnalytics.html" %}
    <title>Bryan Wyatt - {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="https://static.brwyatt.net/favicon.ico" />
    {% include "css.html" %}
    {% include "GoogleAds.html" %}
    {% include "js.html" %}
  </head>
  <body onclick="clicktrack(event);" onauxclick="clicktrack(event);">
    <div id='viewpane'>
      <div id='siteheader'>
        {% if stage != 'Prod' -%}
        <span style="float: right; color: white; background-color: {{stage_color}}; padding: 10px; border: 2px solid white;">{{stage}}</span>
        {% endif -%}
        <h1>Bryan Wyatt</h1>
      </div>
      <div id='navbar'>
        {% include "nav.html" %}
      </div>
      <div id='sitecontent'>
        <div id='pagetitle'>
          <h2>{{ self.title() }}</h2>
        </div>
        <div id='pagecontent'>
          {% block content %}
            Undefined
          {% endblock %}
        </div>
      </div>
      <div id='footer'>
        {% include "footer.html" %}
      </div>
    </div>
  </body>
</html>
{# vim: set ts=2 sw=2 sts=2 expandtab: -#}
