{% extends base %}
{% block title %}Contact{% endblock %}
{% block content %}
<p>In general, I can pretty much be found using the name "brwyatt" on most platforms, though I do have a habit of using "DuneCat" on the rare occasions I play games online.</p>
<p>Heres a list of some of my more frequent/active social accounts:</p>
<ul>
  <li><a href="https://twitter.com/brwyatt">Twitter</a></li>
  <li><a href="https://mastodon.social/@brwyatt">Mastodon / GNU Social</a></li>
</ul>
{% endblock %}
{# vim: set ts=2 sw=2 sts=2 expandtab: -#}
