{% extends base %}
{% block title %}Open Letter to My Elected Officials - June 2nd, 2020{% endblock %}
{% block content %}
<style>
  .repheader{
    vertical-align: text-top;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 5px;
  }
  .repcard{
    display: inline-block;
    overflow: hidden;
    border: 2px solid black;
    text-align: center;
  }
</style>
<div>
  <div>Date: June 2nd, 2020</div>
  <div>Version: 1.0.0
    <span style="visibility: hidden"> (Updated: June 2nd, 2020 16:32:00 UTC-7)</span>
  </div>
</div>
<div class="repheader">
  <table class="repcard">
    <tr><th>Jenny A. Durkan</th></tr>
    <tr><td>Mayor - Seattle</td></tr>
    <tr><td>jenny.durkan@seattle.gov</td></tr>
    <tr><td>206-684-4000</td></tr>
  </table>
  <table class="repcard">
    <tr><th>Andrew J. Lewis</th></tr>
    <tr><td>District Councilmember - District 7, Seattle</td></tr>
    <tr><td>Andrew.Lewis@seattle.gov</td></tr>
    <tr><td>206-684-8807</td></tr>
  </table>
  <table class="repcard">
    <tr><th>Teresa Mosqueda</th></tr>
    <tr><td>City Councilmember - Position 8, Seattle</td></tr>
    <tr><td>teresa.mosqueda@seattle.gov</td></tr>
    <tr><td>206-684-8808</td></tr>
  </table>
  <table class="repcard">
    <tr><th>M. Lorena Gonz&aacute;lez</th></tr>
    <tr><td>City Councilmember &amp; President - Position 9, Seattle</td></tr>
    <tr><td>lorena.gonzalez@seattle.gov</td></tr>
    <tr><td>206-684-8809</td></tr>
  </table>
  <table class="repcard">
    <tr><th>Jay Inslee</th></tr>
    <tr><td>Governor - Washington</td></tr>
    <tr><td>360-902-411</td></tr>
  </table>
  <table class="repcard">
    <tr><th>Cyrus Habib</th></tr>
    <tr><td>Lieutenant Governor - Washington</td></tr>
    <tr><td>360-786-7700</td></tr>
  </table>
  <table class="repcard">
    <tr><th>Reuven Carlyle</th></tr>
    <tr><td>State Senator - District 36, Washington</td></tr>
    <tr><td>Reuven.Carlyle@leg.wa.gov</td></tr>
    <tr><td>360-786-7670</td></tr>
  </table>
  <table class="repcard">
    <tr><th>Gael Tarleton</th></tr>
    <tr><td>State Representative - District 36, Washington</td></tr>
    <tr><td>Gael.Tarleton@leg.wa.gov</td></tr>
    <tr><td>360-786-7860</td></tr>
  </table>
  <table class="repcard">
    <tr><th>Noel Christina Frame</th></tr>
    <tr><td>State Representative - District 36, Washington</td></tr>
    <tr><td>Noel.Frame@leg.wa.gov</td></tr>
    <tr><td>360-786-7814</td></tr>
  </table>
  <table class="repcard">
    <tr><th>Kim Wyman</th></tr>
    <tr><td>Secretary of State - Washington</td></tr>
    <tr><td>360-902-4151</td></tr>
  </table>
  <table class="repcard">
    <tr><th>Bob Ferguson</th></tr>
    <tr><td>Attorney General - Washington</td></tr>
    <tr><td>360-753-6200</td></tr>
  </table>
  <table class="repcard">
    <tr><th>Maria Cantwell</th></tr>
    <tr><td>U.S. Senator</td></tr>
    <tr><td>202-224-3441</td></tr>
  </table>
  <table class="repcard">
    <tr><th>Patty Murray</th></tr>
    <tr><td>U.S. Senator</td></tr>
    <tr><td>202-224-2621</td></tr>
  </table>
  <table class="repcard">
    <tr><th>Pramila Jayapal</th></tr>
    <tr><td>U.S. Representative</td></tr>
    <tr><td>202-225-3106</td></tr>
  </table>
</div>
<p>To my elected officials,</p>
<p>I am a constituent of Seattle District 7, Washington's 36th Legislative District, and Washington's 7th Congressional District.</p>
<p>The events I have witnessed here in Seattle and across the country over the last few days have been distressing, infuriating, and heart breaking. Crowds of people enraged by excessive use of force by police, especially targeted at Black and other Minority populations, and by the gross lack of accountability or justice in those cases across the country are being met with further assault and excessive force at the hands of police.</p>
<p>Over this past week, I have watched police in full riot armor unleash pepper spray, tear gas, flashbangs, and rubber/pepper bullets on unarmed and non-violent crowds, often with their arms raised. I've watched reporters, on live TV and identifying themselves clearly as press, be explicitly and directly targeted by police.</p>
<p>The time to end this violence against Black and Minority individuals has long since past. In theory, we have laws protecting and giving "equal protection"; in practice, we turn a blind eye to enforcing those laws, especially when the violence comes with the protection of a badge.</p>
<p style="font-weight: bold">This cannot continue.</p>
<p>We require strong, bold leadership from you, and all of our elected officials in government. Qualified Immunity must be ended. Police forces must be demilitarized immediately. Police oversight must come from external, independent entities, not other police. Officers involved in use of excessive force must be removed, tried, and convicted for their actions; not given a paid vacation until it blows over, then sent back to the streets as is current practice.</p>
<p style="margin-left: 15px;">Concerned citizen, resident, voter, and taxpayer,<br/>Bryan Wyatt</p>
{% endblock %}
{# vim: set ts=2 sw=2 sts=2 expandtab: -#}
